<!DOCTYPE html>
<html lang="en">
<head>
    <title>History for {{ identifier }}</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="/static/css/post.css"
          rel="stylesheet">
</head>
<body>
<div class="container text-center">
    <br>
    <form class="form-inline" action="history" method="get">
        <div class="form-group">
            <input class="form-control input-lg" name="identifier" placeholder="@user/identifier" type="text">
        </div>
        <button type="submit" class="btn btn-lg" value="Go">Go</button>
    </form>
    <hr>
</div>

<div class="container">

    <h3>Original Post</h3>
    <span class="Post">
           {{ original|markdown }}
    </span>
    <br>
    <hr>

    <h3>Revisions</h3>
    {% for diff in diffs %}
        {{ diff|safe }}
        <br>
    {% endfor %}
    <a href="https://steemit.com/p/{{ identifier }}">[see latest version of this post on steemit.com]</a>
    <hr>
    <p class="text-muted">
        This app is powered by <a href="https://steemdata.com">SteemData</a> ∙ Built by <a href="https://steemit.com/@furion">@furion</a>
    </p>
    <br>
</div>

<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
</body>
</html>
