<!DOCTYPE html>
<html lang="en">
<head>
    <title>Git-Style STEEM Post History</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container text-center">

    <br>
    <br>
    <br>
    <form class="form-inline" action="history" method="get">
        <h3 class="text-muted">Check history of a STEEM Post</h3>
        <div class="form-group">
            <input class="form-control input-lg" name="identifier" placeholder="steemit.com/@user/link" type="text">
        </div>
        <button type="submit" class="btn btn-lg" value="Go">Go</button>
    </form>

    <br>
    <p class="text-muted">
        Powered by <a href="https://steemdata.com">SteemData</a>
    </p>
</div>

</body>
</html>
